APLpy==0.9.11
BeautifulSoup==3.2.1
Django==1.7.5
GDAL==1.10.0
MarkupSafe==0.23
Shapely==1.3.2
Sphinx==1.2.2
azure==0.8.0
backports.ssl-match-hostname==3.4.0.2
gnureadline==6.3.3
h5py==2.3.0
ipython==3.0.0
mechanize==0.2.5
## FIXME: could not find svn URL in dependency_links for this package:
mercurial==2.6.2-20130606
mpi4py==1.3.1
mpmath==0.18
patsy==0.2.1
pexpect==3.2
pyglet==1.2alpha1
pymongo==2.7
pyobjc==2.2
pyregion==1.1.2
pysqlite==2.6.3
pyzmq==14.3.0
requests==2.3.0
tornado==3.2.1
vboxapi==1.0
