.nav-collapse {
    float: right;
    display: inline-block;
}

.jumbotron {
    font-size: 30px;
    text-align: center;

}

navbar img {
    display: inline-block;
}

footer {
    margin-top:50px;
    padding:5px;
    bottom: 0px;
    position:relative;
}

@media (min-width:768px){
    body {
        padding-top:80px;
    }
}